//Переменные цветов, медиа, теней и т.д.

$xs: "(max-width: 767px)";
$sm: "(min-width: 768px) and (max-width: 1023px)";
$md: "(min-width: 1024px) and (max-width: 1279px)";
$lg: "(min-width: 1280px) and (max-width: 1439px)";
$xl: "(min-width: 1440px) and (max-width: 5000px)";

//MAX
$lt-sm: "(max-width: 767px)";
$lt-md: "(max-width: 1023px)";
$lt-lg: "(max-width: 1279px)";
$lt-xl: "(max-width: 1439px)";

//MIN
$gt-xs: "(min-width: 768px)";
$gt-sm: "(min-width: 1024px)";
$gt-md: "(min-width: 1280px)";
$gt-lg: "(min-width: 1441px)";

// Colors
$yellow: #F7941E;
$black: #000;
$gray: #F2F2F2;

//Font
$family: "Gilroy", Arial, Helvetica, sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;
