.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  &__nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 20px;
    padding-top: 10px;
  }
  &__item {
    list-style: none;
  }
  &__link {
    text-decoration: none;
    font-family: $family;
    color: $black;
    font-size: 18px;
    line-height: 20px;
  }
  &__button {
    color: $yellow;
    border: 1px solid $yellow;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 25px 40px 30px 40px;
    &__nav {
      position: static;
      width: 400px;
    }
    &__list {
      padding: 0;
    }
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 35px 35px 35px 80px;
    &__nav {
      width: 554px;
    }
    &__link {
      transition: all .4s ease;
      &:hover, &:focus {
        outline: none;
        color: $yellow;
      }
    }
    &__button {
      transition: all .4s ease;
      &:hover, &:focus {
        outline: none;
        color: #fff;
        background-color: $yellow;
      }
    }
  }
}