@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";

@import "components/home";
@import "components/about";
@import "components/sign";
@import "components/gifts";
@import "components/blog";


@import "components/container";
@import "components/slider";
@import "components/title";
@import "components/text";
@import "components/btn";
@import "components/swiper";

@import "../blocks/modules";
